@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark light;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

:root {
    --dark-blue: #323377;
    --light-blue: #c7e1f3;
}

/* ------------------------------------ */

body {
    background: url(assets/images/background.svg);
    background-repeat: no-repeat;
    height: 100dvh;
    font-family: 'Montserrat';
}

header {
    display: flex;
    column-gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin-left: 15px;
    font-size: 3rem;
    color: var(--dark-blue);
}

main {
    display: grid;
    grid-template-columns: minmax(250px, 2.5fr) 8fr;
    justify-items: start;
}

#layout {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(285px, 1fr));
}

.book-placeholder {
    display: grid;
    grid-template-columns: 1em 1fr;
    grid-template-rows: 25px 4em 1fr;
    background-color: #d1d1d13d;
    border-radius: 10px;
    width: 75%;
    height: 80%;
}

.book-placeholder:nth-child(1) {
    background-color: #171614;
}

.book-placeholder:nth-child(2) {
    .book-side-stripe {
        background-color: #323377;
    }
    background-color: #171614;
}

.book-placeholder:nth-child(3) {
    .book-side-stripe {
        background-color: #143642;
    }
    background-color: #171614;
}

.book-side-stripe {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    grid-row: 1 / -1;
    background-color: #6f1d1b;
}

.book-placeholder > p {
    align-self: center;
    background-color: rgba(128, 128, 128, 0.35);
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.book-icons {
    align-self: end;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#left-side {
    align-self: end;
    justify-self: center;
}

button#new-book {
    border: none;
    border-radius: 15px;
    background-color: var(--dark-blue);
    padding: 1em 2em;
    margin-bottom: 25px;
    color: white;
    transition: .2s ease-in-out;
}

button#new-book:hover {
    cursor: pointer;
    transform: scale(0.95);
}
    
button#new-book:active {
    filter: brightness(70%);
}